            <ul>
                <li>
                    <a href="/about" title="О нас">О нас</a>
                </li>

                <li>
                    <a href="/delivery" title="Доставка">Доставка</a>
                </li>

                <li>
                    <a href="/size" title="Как подобрать размер">Как подобрать размер</a>
                </li>

                <li>
                    <a href="/buy" title="Как купить">Как купить</a>
                </li>

                <li>
                    <a href="/contract" title="Блог">Договор</a>
                </li>
            </ul>
