{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
<div id="wrapper">
	<div id="sidebar" class="alignleft">
		{% category_list request.path %}
	</div>
	<div id="rightblock" class="alignleft">
		<div id="header" class="alignleft">
			{% include 'tags/header.html' %}
		</div>
		<div class="clr"></div>
		<div id="content"  class="alignleft">

			<div id="contents_margin"  class="alignleft">

		<div class="static alignleft" >
			<h1 class="seo_header">
                Блог
            </h1>
            <div class="seo_desc">
                <p>
                    Блог в разработке...
                </p>
                <p>
                </p>

				</div>
			<div>
			</div>
			</div>

<div class="clr"></div>
 {% include "tags/footer.html" %}
</div>

{% endblock %}
